[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
django-environ = "*"
django-debug-toolbar = "*"
pillow = "*"
django-allauth = "*"
django-cleanup = "*"
argon2-cffi = "*"
django-vite = "*"
crispy-tailwind = "*"
django-extensions = "*"

[dev-packages]
django-browser-reload = "*"

[requires]
python_version = "3.12"
